<h1>Hydrane AngularJS Frontend Dev CS</h1>
<div class="filtersBar">
  <div class="filterControl">
    <label>continent</label>
    <select [ngModel]="selectedContinent" (ngModelChange)="updateContinent($event)" (keyup)="updateResults($event)" (blur)="updateResults($event)">
      <option value='ALL'>ALL</option>
      <option *ngFor="let c of countries|continentsFromCountries" [value]="c">{{c}}</option>
    </select>
  </div>
  <div class="filterControl">
    <label>metric</label>
    <select [ngModel]="selectedMetrics" (ngModelChange)="updateMetrics($event)">
      <option *ngFor="let i of metrics" [value]="i">{{i}}</option>
    </select>
  </div>
  <div class="filterControl">
    <label>chart max results</label>
    <select [ngModel]="selectedMaxResults" (ngModelChange)="updateMaxResults($event)">
      <option *ngFor="let i of maxResults" [value]="i">{{i}}</option>
    </select>
  </div>
  <div class="filterControl">
    <button (click)="goAction($event)">Go</button>
  </div>
</div>
<div *ngIf="showResults" class="resultsCharts">
  <div class="singelChart" *ngIf="displayAreaData">
    <chart [options]="areaChartData"
      (load)="saveAreaChartObject($event.context)" ></chart>
  </div>
  <div class="singelChart" *ngIf="displayPopulationData">
    <chart [options]="resultCountries | sortCountriesByPopulation:selectedMaxResults | makeChartData:populationChartOptions:'population'"
      (load)="savePopulationChartObject($event.context)" ></chart>
  </div>
</div>

<div *ngIf="showResults" class="resultsList">
  <table>
    <thead>
      <tr>
        <th (click)="doSortByContinentName()">continent name</th>
        <th (click)="doSortByCountryName()">country name</th>
        <th (click)="doSortByArea()" *ngIf="displayAreaData">area (SqKm)</th>
        <th (click)="doSortByPopulation()" *ngIf="displayPopulationData">population</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td colspan="2"></td>
        <td *ngIf="displayAreaData" >{{areaSum}}</td>
        <td *ngIf="displayPopulationData" >{{populationSum}}</td>
      </tr>
    </tfoot>
    <tbody>
      <tr *ngFor="let c of resultCountries|sortCountries:sortField:sortToggle">
        <td>{{c.continent}}</td>
        <td>{{c.countryName}}</td>
        <td *ngIf="displayAreaData" >{{c.areaInSqKm}}</td>
        <td *ngIf="displayPopulationData" >{{c.population}}</td>
      </tr>
    </tbody>
  </table>
</div>
